/*Google Fonts: Lora(serif),Poppins(sans-serif)*/

@import url('https: //fonts.googleapis.com/css2?family=Lora&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
*{
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	overflow-y: auto;
	background-color: white;
	color: #000a16;
	font-family:Poppins,sans-serif;
	font-size: 2vh;
	line-height: 3vh;
}

nav, a{
	font-family: Lora, serif;
}

p{
	font-family:'Zen Antique', serif;
}

h1{
	text-align: center;
}

h1,h2,h3{
	font-family:Poppins, sans-serif ;
}

img { 
	margin-top: 1.5%; 
}

nav > a:not(:first-of-type)
{
 border-left:solid 2px white ;	
}

nav > a:first-of-type {
	width: 2.4 vw;
	}

nav > a:hover{
	opacity: 0.95;
} 	

nav > a:visited {
	color: gray;
}

a, a:visited {
	color:#323232 ;
	text-decoration: none;
}