@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Noto+Sans+TC&family=Noto+Serif+TC:wght@300&family=Roboto+Slab&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
}

body {
	min-height: 100%;
	width: 100%;
	background-color: white;
	overflow-x: hidden;
	font-family: Alegreya, Noto Serif TC, serif;
	font-size: 3vh;
	line-height: 4.5vh;
}

header, nav, h1, h2, h3, div#backToTop {
	font-family: Roboto Slab, Noto Sans TC, sans-serif;
}

header {
	font-size: 6vh;
	height: 10vh;
	line-height: 10vh;
}

header > sub {
	font-size: 50%;
}

nav {
	background-color: #4d4d4d;
	height: 5vh;
	font-size: 2vh;
	line-height: 5vh;
}

nav > a {
	color: white;
}

nav > a:hover {
	background-color: #bcbcbc;
	color: #4d4d4d;
}

nav > a:visited {
	color: white;
}

body > img#bg {
	
}

article {
	
}

article > section {
	
}

article > section > div {
	
}

div#backToTop {
	background-color: #4d4d4d;
	color: white;
	font-size: 70%;
}

div#backToTop:hover {
	
}